
.nav-tabs li {

  display: inline;
  padding: 10px;
  list-style: none;
  text-align: center;
  line-height: 100px;

}

/*.nav-tabs::after{

  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #000;

}*/

hr{
 border-style: none;
 height: 2px;
 border-top-style: solid;
 border-top-width: 0.5px;
 width:50%;
 margin-left: 105px;
 color: #B2B2B2;
}

ul{
  margin-bottom: 0;
  height: 60px;
}

.view{
   border: solid;
   border-width: 0.3px 0.3px 0 0.3px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   color: #B2B2B2;
}

.nav-tabs li a{
  color: green;
  text-decoration: none;
}

h1{
  padding-left: 50px;
}

a:hover {

  border-bottom: 2px solid #DDDDDD;
  margin: 0;
  padding: 0;
  /*background-color: #EEEEEE;*/

}


.col_space{
  padding-left: 50px;
}


.info{
  padding: 0;
  list-style: none;
}

.window_file{

   padding-left: 500px;

}
